<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Employes</title>
  </head>
  <body>
    <h1>Liste des Employes</h1>

    <form method="GET">
      <label for="search">Entrez le nom d'employe:</label>
      <input type="text" name="recherche" id="search" />
      <button type="submit" class="btn btn-info">rechercher</button>
    </form>
    <br />

    {% if employes %}
    <table border="1px" class="table table-dark table-hover table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Salaire journalier</th>
          <th>Centre</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {% for e in employes %}
      <tbody class="table-group-divider">
        <tr>
          <td class="table-active">{{e.id}}</td>
          <td class="table-active">{{e.nomE}}</td>
          <td class="table-active">{{e.prenomE}}</td>
          <td class="table-active">{{e.adresseE}}</td>
          <td class="table-active">{{e.telephoneE}}</td>
          <td class="table-active">{{e.salaire_jour}}</td>
          <td class="table-active">{{e.centre}}</td>
          <td class="table-active">
            <a href="{% url 'editE' e.id %}">Modifier</a>
          </td>
          <td class="table-active">
            <a href="{% url 'deleteE' e.id %}">Supprimer</a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% else %}
    <p>Aucun Employe a afficher</p>
    {% endif %}

    <a href="employe/ajouter">
      <button class="btn btn-warning">Ajouter un Employe</button>
    </a>
    <br />
    <br />

    <a href="magasin">
      <button class="btn btn-secondary">retourner</button>
    </a>
  </body>
</html>
