<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>Bienvenue dans la page d'acceuil</h1>

    <a href="magasin">
      <button>Magasin</button>
    </a>
    <br />

    <a href="centres">
      <button>Centres</button>
    </a>
    <br />

    <a href="tableauxDeBord">
      <button>Analyse et Tableaux de bord</button>
    </a>
    <br />
  </body>
</html>
