<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produits</title>
  </head>
  <body>
    <h1>Liste des Produits</h1>

    <form method="GET">
      <label for="search">Entrez le nom du produit:</label>
      <input type="text" name="recherche" id="search" />
      <button type="submit">rechercher</button>
    </form>
    <br />

    {% if produits %}
    <table border="1px">
      <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Quantité</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {% for prd in produits %}
      <tbody>
        <tr>
          <td>{{prd.id}}</td>
          <td>{{prd.nomP}}</td>
          <td>{{prd.qte}}</td>
          <td>
            <a href="{% url 'editPrd' prd.id %}">Modifier</a>
          </td>
          <td>
            <a href="{% url 'deletePrd' prd.id %}">Supprimer</a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% else %}
    <p>Aucun Produit a afficher</p>
    {% endif %}

    <a href="produit/ajouter">
      <button>Ajouter un Produit</button>
    </a>
    <br />
    <br />
    <a href="magasin">
      <button>retourner</button>
    </a>
  </body>
</html>
