<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Clients</title>
  </head>
  <body>
    <h1>Liste des Clients</h1>

    <form method="GET">
      <label for="search">Entrez le nom du client:</label>
      <input type="text" name="recherche" id="search" />
      <button type="submit" class="btn btn-info">rechercher</button>
    </form>
    <br />

    {% if clients %}
    <table border="1px" class="table table-dark table-hover table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>Crédit</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {% for cl in clients %}
      <tbody class="table-group-divider">
        <tr>
          <td class="table-active">{{cl.id}}</td>
          <td class="table-active">{{cl.nomCl}}</td>
          <td class="table-active">{{cl.prenomCl}}</td>
          <td class="table-active">{{cl.adresseCl}}</td>
          <td class="table-active">{{cl.telephoneCl}}</td>
          <td class="table-active">{{cl.credit}}</td>
          <td class="table-active">
            <a href="{% url 'editCl' cl.id %}">Modifier</a>
          </td>
          <td class="table-active">
            <a href="{% url 'deleteCl' cl.id %}">Supprimer</a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
    {% else %}
    <p>Aucun Client a afficher</p>
    {% endif %}

    <a href="client/ajouter">
      <button class="btn btn-warning">Ajouter un Client</button>
    </a>
    <br />
    <br />

    <a href="magasin">
      <button class="btn btn-secondary">retourner</button>
    </a>
  </body>
</html>
