<head>
  <title></title>
  {{ form.media.css }}
  <style> 
     .form-sp { 
         margin-bottom : 8px;
     } 
     select {width: 10% }
  </style>
</head>
<form method="POST">
    {% csrf_token %}  

    {{form.as_p}}
    <input type="submit" value="Confirmer Transfert" />
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
    {{ form.media.js }}
    <p>{{message}}</p>
 <a href="{% url 'liste_TransfertmatierePremieres' %}">
    <button>Journal Transfert Matière Premières</button>
  </a> 
  <a href="magasin">
    <button>retourner</button>
  </a>