<h1>
  Les demandes d'avance Salaire de l'employé {{employe.nomE}}
  {{employe.prenomE}}
</h1>

{% if avanceSalaires %}
<table border="1px">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Montant</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {% for as in avanceSalaires %}
  <tbody>
    <tr>
      <td>{{as.id}}</td>
      <td>{{as.dateDemande}}</td>
      <td>{{as.montant}}</td>
      <td>
        <a href="{% url 'editavanceSalaire' as.id %}">Modifier</a>
      </td>
      <td>
        <a href="{% url 'deleteavanceSalaire' as.id %}">Supprimer</a>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% else %}
<p>Cet Employé n'a jamais demandé une avance</p>
{% endif %}

<a href="{% url 'addAvanceSalaire' employe.id %}">
  <button>Enregistrer une demande</button>
</a>
<br />
<br />

<a href="{% url 'module_employe' centre_id=employe.centre.numeroC %}">
  <button>retourner</button>
</a>
